<br /><br />
<div style="margin:10px;">

<h1><b>Welcome to <i>WomenWriters</i></b></h1>

<p>This database contains information on 
the production of women authors from the middle ages up to c. 1900, 
and on the reception of their works by contemporaries as well as early 
literary historians (both men and women). Are concerned: women active 
as authors in European countries and their (former) colonies. Thus the 
database allows the study of these women's writing <i>in their international 
context</i>, and the place to be attributed to them in transnational 
historiography.</p>
<p>The database is one of the first products 
of the research project <i>Women Writers and their audiences</i> (1997-2004), 
financed by NWO (Dutch Organisation for Scientific Research). It was 
placed on the Internet in April 2001, was granted the &quot;International 
Innovation Award 2005&quot; on the occasion of the XVIth International 
Conference of the Association for History and Computing (Amsterdam), 
and has formed/forms the basis of a series of digitization, research 
and networking projects (<a href="http://www.womenwriters.nl" target="_blank"><u>www.womenwriters.nl</u></a>). They were/are carried out, under the direction 
of Suzan van Dijk, at the University of Utrecht&#39;s Research Institute 
for History and Culture (OGC) and the Huygens Institute of the KNAW 
(Royal Academy of Sciences) in The Hague. </p>
<p>Part of the data is accessible without 
password. Researchers or (advanced) students wishing to gain access 
to the complete records are invited to take contact with Suzan van Dijk 
(<a href="mailto:suzan.van.dijk@huygensinstituut.knaw.nl" target="_blank"><u>suzan.van.dijk@huygensinstituut.knaw.nl</u></a>). Users should be aware that the database is 
a <i>work in progress</i>, and not a publication site. For that reason 
information should be checked! </p>

<p>Nevertheless, as the purpose of this 
database is to facilitate research into the position, production and 
(contemporary) reception of women writers, the information it contains 
may be used by researchers, students, librarians, and others. Normal copyright restrictions do not apply. 
Users are simply asked to respect standard rules for accreditation when 
quoting or borrowing from the database content, by specifying as follows: </p>
<p>&quot;This information was derived 
from/obtained via the database <i>WomenWriters</i> (ed. Suzan van Dijk), 
<a href="http://www.databasewomenwriters.nl" target="_blank">www.databasewomenwriters.nl</a> (cons. [date])&quot;. </p>

<p>
When clicking one of the words AUTHORS, 
WORKS, RECEPTIONS, on the right side, you get access to: </p>
<p><ul style="font-size:14px">
  <li>Biographical information about 
  the <b>authors</b>: dates, production, links to other sites, etc. </li>
  <li>Information about the <b>works</b>: 
  dates of publication, editions and re-editions, links to other sites, 
  etc. </li>
  <li>References to texts and factual 
  information evidencing the (international) <b>reception</b> of the works, 
  e.g. reviews in the periodical press, translations, etc. </li>
</ul>
</p>
<br />
<p style="font-size:12px"><i>Requirements for your computer:  <br />
You can search the database with any current browser.  <br />
If you want to contribute, you can use Internet Explorer 6 or 7 on Windows, 
Firefox 1.5 or 2 (on all platforms), Opera 9 (on all platforms), or 
Safari 1.3 and newer (on Mac OS X 10.3.9 and 10.4)</i>
</p>

<p>Huygens Instituut</p>
<p>Project "Dutch Women Writers"</p>
<p>Dr. Suzan van Dijk</p>
<p>PO Box 90754 </p>
<p>2509 LT The Hague</p>
<p>Netherlands</p>
<p><a href="http://www.huygensinstituut.knaw.nl/vandijk" target="_blank">http://www.huygensinstituut.knaw.nl/vandijk</a></p>
<p><a href="http://www.womenwriters.nl" target="_blank">http://www.womenwriters.nl</a></p>
<br /><br />
<br /><br />
<br /><br />
<br /><br />
<br /><br />


</div>