<h1>Reset password</h1>

<%=flash_notice%>

<div class="form">

	<fieldset>
		<legend>Enter your emailaddress</legend>
		<% form_tag :action => "reset_password" do%>
			<div>
				<label for = "email">Email: </label><br />
				<%=text_field_tag :email, params[:email], :class=> "other" %>
			</div>

			<%=submit_tag "Reset" %>
		<%end%>
	</fieldset>
	
	
	
</div>