<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html>  
<head>  
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"  />  
</head> 
<body>  
	<p><%=h @user.name %>,</p>  
	<p>Your password has been reset succesfully. Your new password is: <%= @password %>.<br/>  
		To login to the site, just follow this link: <a href="http://neww.huygens.knaw.nl/sessions/new">http://neww.huygens.knaw.nl/</a>.</p>  
	<p>Thank you and have a great day!</p>
	<br/> 
	<p>This message has been generated automatically, please do not reply to this address.</p>  
</body> 
</html> 