<tr>
	<td><%= link_to h(relation_type.parent_female), relation_type_path(:id => relation_type.id) %> / <%= link_to h(relation_type.parent_male), relation_type_path(:id => relation_type.id) %></td>
	<td><%= link_to h(relation_type.child_female), relation_type_path(:id => relation_type.id) %> / <%= link_to h(relation_type.child_male), relation_type_path(:id => relation_type.id) %></td>
</tr>
