<!-- start _relation_typelist.html.erb-->
<table>
    <tr>
      <td><b>Parent</b>
      </td>
	  
	    <td><b>Child</b>
      </td>


	<%= render :partial => @relation_types %>
</table>
<!-- end _relation_typelist.html.erb-->
