<h1>Edit library</h1>

<div class="form">
	<!-- # START:errors -->
	<%= error_messages_for :library -%>
	<!-- # END:errors -->

	<fieldset>
		<legend>Enter library details</legend>
		<% form_for :library, :url => { 
			:action => "update", 
			:id=>@library.id}, :html=>{:name=>"formnaam"} do |form| %> 
			
			<%= render :partial => 'form', :object => form  %>
				<%= image_submit_tag("accept.png", :alt => "save changes", :title => "save changes" , :class => 'image-submit') %>
				<%= link_to image_tag("cancel.png", :border=>0), {:action => 'show', id=>@library.id}, :title => "cancel changes"  %>
		<% end %>
	</fieldset>
</div>