<!-- #Name -->
<div>
	<%= form.label :name %>:<br />
	<%= form.text_field :name, :size => 50, :class => "name" %>
</div>

<div>
	<%= form.label :short_name %>:<br />
	<%= form.text_field :short_name, :size => 4, :class => "shortname" %>
</div>